body
{
  font-family:Verdana,Vera,sans-serif;
  font-style:normal;
  font-weight:normal;
  font-size:12px;
  line-height:14px;
  letter-spacing:0;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  white-space:normal;
  word-wrap:break-word;
}

.title1
{
  font-family:Verdana,Vera,sans-serif;
  font-size:15px;
  line-height:17px;
  font-weight:bold;
  letter-spacing:0;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  white-space:normal;
  word-wrap:break-word;
}

.title2
{
  font-family:Verdana,Vera,sans-serif;
  font-size:13px;
  line-height:15px;
  font-weight:bold;
  letter-spacing:0;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  white-space:normal;
  word-wrap:break-word;
}

strong
{
  font-family:Verdana,Vera,sans-serif;
  font-style:normal;
  font-weight:normal;
  font-size:12px;
  line-height:14px;
  letter-spacing:0;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  color:#1f13b1;
  white-space:normal;
  word-wrap:break-word;
}